[submodule "themes/hugo-theme-cactus-plus"]
	path = themes/hugo-theme-cactus-plus
	url = https://github.com/openinternals/hugo-theme-cactus-plus.git
[submodule "public"]
	path = public
	url = git@github.com:openinternals/openinternals.github.io
	branch = master
